.card {
    
    @media (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    @media (min-width: 1200px) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        }    

    &__item {
        margin-bottom: 30px;
        max-width: 450px;
        background: var(--main-background-color);
        &:last-child {
            margin-bottom: 60px;
            @media (min-width: 1200px) {
                margin-bottom: 0;
            }
        }
        @media (min-width: 768px) {
            margin-bottom: 0;
            max-width: 354px;
            }
        @media (min-width: 1200px) {
            max-width: 370px;            
        }
                
    }

    &__link {
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: var(--main-background-color);
        text-decoration: none;

        &:hover {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
        }

        &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
        }


    }

    &__image {
        position: relative;
        overflow: hidden;
    }

    &__image-width {
        max-width: 450px;
        @media (min-width: 768px) {
            max-width: 354px;
        }
        @media (min-width: 1200px) {
            max-width: 370px;
        }
    }

    &__image-description {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateY(100%);
        transition: transform 250ms;
        padding: 32px 20px;
        color: var(--cap-text-color);
        background-color: rgba(33, 150, 243, 0.9);

        @media (min-width: 768px) {
            padding: 63px 24px;
        }

        .card__link:hover & {
            transform: translateY(0);
        }

        .card__link:focus & {
            transform: translateY(0);
        }

    }

    &__image-text {
        font-size: 16px;
        line-height: 1.56;
        letter-spacing: 0.03em;

        @media (min-width: 768px) {
            font-size: 18px;
        }
        
    }

    &__title {
        padding: 20px 24px;
        border: 1px solid var(--border-color);
        border-top: 0px;
        flex-grow: 1;
    }

    &__name {
        margin-bottom: 4px;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: var(--main-text-color);
    }

    &__text {
        font-size: 16px;
        line-height: 1.875;
        letter-spacing: 0.03em;
        color: var(--paragraph-text-color);
    }
}