.team {
    background-color: var(--button-color);
    padding-top: 60px;
    padding-bottom: 60px;
        @media (min-width: 1200px) {
                padding-top: 94px;
                padding-bottom: 94px;
            }

    &__title {        
        text-align: center;
        margin-bottom: 30px;
        letter-spacing: 0.03em;
        font-size: 28px;
        line-height: 1.18;

        @media (min-width: 768px) {          
            font-size: 36px;
            line-height: 1.17;            
            }
            @media (min-width: 1200px) {
                margin-bottom: 50px;
            }
            
    }

    &__list {   

        @media (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;
                   
            }
            @media (min-width: 1200px) {
                
                display: flex;
                justify-content: space-between;
                gap: 30px;            
                }
    }

    &__item {        
        max-width: 450px;            
        margin-bottom: 30px;
        background-color: var(--main-background-color);
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
            &:last-child {
                margin-bottom: 0;
                }            
            @media (min-width: 768px) {
                width: 100vw;
                max-width: 354px;
                margin-bottom: 0;            
                }
                @media (min-width: 1200px) {
                    width: 100vw;
                    max-width: 270px;
                    margin-bottom: 0;
                    }
    }  

    &__info {
        padding: 30px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
    }

    &__name {
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.1875;
        letter-spacing: 0.03em;
        color: var(--main-text-color);
        text-align: center;
    }

    &__position {
        font-size: 16px;
        line-height: 1.1875;
        letter-spacing: 0.03em;
        color: var(--paragraph-text-color);
        text-align: center;
        margin-bottom: 16px;
    }
}